@model IEnumerable<ProjetoMatricula.Model.Curso>

@{
    ViewBag.Title = "IndexCurso";
}

<h2>Lista Curso</h2>

<p>
    @Html.ActionLink("Novo Curso", "CreateCurso")
</p>
<table class="table">
    <tr>
        <th>
            Nome
        </th>
        <th>
            Modelo
        </th>
        <th>
            Tipo do Curso
        </th>        
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.GetNome()
            </td>
            <td>
                @item.GetModeloCurso()
            </td>
            <td>
                @item.GetTipoCurso().GetDescricao()
            </td>            
            <td>
                <select>
                    @foreach (var aluno in Model)
                    {
                        <option value="@aluno.GetId()">@aluno.GetNome()</option>
                    }
                </select>
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.GetId() }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.GetId() })
            </td>
        </tr>
    }

</table>
