@model IEnumerable<ProjetoMatricula.Model.Disciplina>

@{
    ViewBag.Title = "IndexDisciplina";
}

<h2>Lista Disciplina</h2>

<p>
    @Html.ActionLink("Nova Disciplina", "CreateDisciplina")
</p>
<table class="table">
    <tr>
        <th>
            Disciplina
        </th>
        <th>
            Curso
        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @item.GetNome()
    </td>
    <td>
        @item.GetCurso().GetNome()
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
    </td>
</tr>
}

</table>
