@model IEnumerable<ProjetoMatricula.Model.Curso>

@{
    ViewBag.Title = "IndexCurso";
}

<h2>Lista Curso</h2>

<p>
    @Html.ActionLink("Novo Curso", "CreateCurso")
</p>
<table class="table">
    <tr>
        <th>
            Nome
        </th>
        <th>
            Modelo
        </th>              
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.GetNome()
            </td>
            <td>
                @item.GetModeloCurso()
            </td> 
            <td>
                @Html.ActionLink("Editar", "EditCurso", new { id = item.GetId() }) |
                @Html.ActionLink("Deletar", "DeleteCurso", new { id = item.GetId() })
            </td>
        </tr>
    }

</table>
